.main {
    grid-area: m;
    background-color: chartreuse;
    align-self: stretch;
}
.main__content {
    padding: 30px;
}

/* /////////////////////////////START my-posts////////////////////////////////////// */
